*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* fondo */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image:url("../img/fondo.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* contenedor */
.contenedor-bienvenida{
    background:rgba(255,255,255,0.95);

    width:380px;

    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:
        0 10px 25px
        rgba(0,0,0,0.25);

    animation:aparecer 1s ease;
}

/* saludo */
.contenedor-bienvenida h1{
    color:#6c5ce7;
    margin-bottom:20px;
    font-size:32px;
}

/* avatar */
#avatarUsuario{
    width:140px;
    height:140px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #6c5ce7;

    margin-bottom:20px;
}

/* nombre */
#nombreUsuario{
    color:#2d3436;
    margin-bottom:10px;
    font-size:28px;
}

/* texto */
.contenedor-bienvenida p{
    color:#636e72;
    margin-bottom:25px;
    font-size:20px;
}

/* botones juntos */
.botones{
    display:flex;
    justify-content:center;
    gap:12px;
    flex-wrap:wrap;
}

/* continuar */
button{
    background:#6c5ce7;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:12px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    background:#4834d4;
    transform:scale(1.05);
}

/* 4 básico */
.botones a{

    display:inline-block;

    background:linear-gradient(
        135deg,
        #00b894,
        #00a884
    );

    color:white;

    text-decoration:none;

    padding:12px 25px;

    border-radius:12px;

    font-size:16px;

    font-weight:bold;

    transition:.3s;

    box-shadow:
        0 5px 12px
        rgba(0,0,0,.2);
}

.botones a:hover{

    background:linear-gradient(
        135deg,
        #00c9a7,
        #009879
    );

    transform:scale(1.05);
}

/* animación */
@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}